---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Retiro">
  <h1 class="titulo text-center text-white pt-4">Retiro</h1>

  <div class="p-4 flex">
    <img 
      class="h-auto max-w-2x1 rounded-lg m-auto" 
      src="/img/categories/CardRetiro.webp" 
      alt="Carrearas"
      transition:name="RetiroImg"
    >
  </div>
</Layout>
