---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Teams">
  <h1 class="titulo text-center text-white pt-4">Teams</h1>
  
  <div class="p-4 flex">
    <img 
      class="h-auto max-w-2x1 rounded-lg m-auto" 
      src="/img/categories/CardTeams.webp" 
      alt="Carrearas"
      transition:name="TeamsImg"
    >
  </div>
</Layout>
