---
import NavBar from '../components/NavBar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</head>
	<body>
    <NavBar/>

		<slot />
	</body>
</html>

<style is:global>
@font-face {
    font-family: 'ethnocentric';
    src: url('/fonts/ethnocentric rg.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'robto-thin';
    src: url('/fonts/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'robto-medium';
    src: url('/fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .titulo {
    font-family: 'ethnocentric';
  
  }
  .roboto-thin {
    font-family: 'robto-thin';
  } 

  .roboto-medium {
    font-family: 'robto-medium';
  }

  .main {
    
  }

  .btn {
    @apply rounded-full px-4 py-2 text-base text-white shadow-sm hover:bg-white hover:text-slate-800;
  }
</style>
